@font-face {
  font-family: Karla-Bold;
  src: url("./assets/fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: Karla-Light;
  src: url("./assets/fonts/Karla-Light.ttf");
}

@font-face {
  font-family: Karla-Medium;
  src: url("./assets/fonts/Karla-Medium.ttf");
}

@font-face {
  font-family: Karla-Regular;
  src: url("./assets/fonts/Karla-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dot {
  margin: 0 1rem;
  font-size: 2rem;
}

.cursive {
  font-style: italic;
}

.bold {
  font-weight: bold;
  font-family: Karla-Bold;
}

html {
  font-size: 8px;
  font-family: Karla-Regular;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.midGrayColor {
  color: #848484;
  font-size: 1.6rem;
}

.darkGrayColorHeadline a,
.darkGrayColorHeadline h2,
.darkGrayColorHeadline p {
  color: #323A45;
  font-size: 2rem;
  font-family: Karla-Bold;
  text-decoration: none;
}

button {
  width: 7rem;
  height: 7rem;
  background-color: #848484;
  border: 1px solid #323A45;
  border-radius: 50%;
  padding: 1.5rem;
  position: fixed;
  top: 90vh;
  right: 2rem;
}

button img {
  width: 100%;
  transform: rotatez(180deg);
}

button:hover {
  background-color: lightgrey;
}

.subPages {
  width: 50%;
  margin: 100px auto;
  font-size: 2rem;
  text-align: center;
  background-color: lightgrey;
  padding: 5rem;
  border-radius: 20px;
}

.subPages h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.subPages form {
  display: flex;
  flex-direction: column;
}

.subPages input {
  padding: 1rem;
  width: 50%;
  margin: 2rem auto 0 auto;
  text-align: center;
}